# [Series 객체 원소 인덱싱 & 슬라이싱]
### (1) 모듈 로딩 -------------------

In [1]:
from pandas import Series

### (2) 데이터 준비 ---------------------

In [4]:
datas = {'name':'홍길동', 'age':12, 'job':'도적'}

### (3) Series 객체 생성 ---------------------

In [6]:
sr1 = Series(datas)
sr1

name    홍길동
age      12
job      도적
dtype: object

### (4) 인덱싱으로 원소 읽기 --------------------

In [10]:
# 한 개의 원소 읽기
sr1['age'], sr1[1], sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

In [11]:
# 이름과 직업 데이터 읽기
sr1['name'], sr1['job'], sr1[0], sr1[2]

('홍길동', '도적', '홍길동', '도적')

In [12]:
# 슬라이싱 결과의 타입
a=[1,2,3]    # list
b=(11,22,33) # tuple

In [23]:
a[:1], type(a[:1])   # list slicing -> list

([1], list)

In [24]:
b[:1], type(b[:1])  # tuple slicing -> tuple

((11,), tuple)

In [32]:
# ret : 
ret = sr1[['name', 'job']]
ret2 = sr1[[0,2]]
type(ret), ret

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

In [27]:
type(ret2), ret2

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

### (4) 슬라이싱으로 원소 읽기 -------------

In [30]:
# 위치 인덱스로 슬라이싱
sr1[:2]    # 잘 적용됨!

name    홍길동
age      12
dtype: object

In [31]:
sr1[:-2]

name    홍길동
dtype: object

### 레이블 인덱스로 슬라이싱
    * 레이블(분류)로 슬라이싱: 끝= 진짜 끝! (원랜 -1)

In [35]:
sr1['name':'job']

name    홍길동
age      12
job      도적
dtype: object

In [34]:
sr1['name':'age']

name    홍길동
age      12
dtype: object