# DataFrame 행/열 추가

### (1~3) 준비하기 ----------------------

In [1]:
# 1. 모듈 로딩
import pandas as pd

# 2. 데이터 준비 : dict 타입의 데이터 생성
exam = {'이름' :['갓기','현길', '시명', '주영'],
        '국어' : [60, 70, 100, 90],
        '미술' : [80, 20, 40, 80],
        '수학' : [90, 100, 90, 60],
        '체육' : [0, 30, 70, 50]}

# 3. DataFrame에 데이터 저장
examDF=pd.DataFrame(exam)
examDF

   이름   국어  미술   수학  체육
0  갓기   60  80   90   0
1  현길   70  20  100  30
2  시명  100  40   90  70
3  주영   90  80   60  50

### (4) 저장된 데이터 속성 확인 ; 함수로 만들어버리기
---

In [2]:
def printattribute(df, df_name):
  print('-----',df_name,'Attribute','-----')
  print(f'index \n{examDF.index}\n')
  print(f'columns \n{examDF.columns}\n')
  print(f'shape \n{examDF.shape}\n')
  print(f'ndim \n{examDF.ndim}\n')
  print(f'dtypes \n{examDF.dtypes}\n')

In [3]:
printattribute(examDF, 'examDF')

----- examDF Attribute -----
index
RangeIndex(start=0, stop=4, step=1)

columns
Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')

shape
(4, 5)

ndim
2

dtypes
이름    object
국어     int64
미술     int64
수학     int64
체육     int64
dtype: object

### (5) DataFrame에 컬럼(Column) 추가

In [4]:
examDF.columns

Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')

In [5]:
# 5-1. 행 수 만큼 값을 추가
examDF['영어'] = [90, 80, 70, 80]
examDF

   이름   국어  미술   수학  체육  영어
0  갓기   60  80   90   0  90
1  현길   70  20  100  30  80
2  시명  100  40   90  70  70
3  주영   90  80   60  50  80

In [6]:
# 5-2. 1개의 데이터 즉 값추가 시 모든 행에 동일한 값으로 저장
examDF['과학'] = 50
# examDF['과학'] = [ 10, 20 ] # 리스트로는 길이가 안 맞아 오류
examDF

   이름   국어  미술   수학  체육  영어  과학
0  갓기   60  80   90   0  90  50
1  현길   70  20  100  30  80  50
2  시명  100  40   90  70  70  50
3  주영   90  80   60  50  80  50

In [7]:
# 5-3. 숫자로 열 입력
examDF[77] = 0    # 열을 숫자로 지정할 수 있다
examDF

   이름   국어  미술   수학  체육  영어  과학  77
0  갓기   60  80   90   0  90  50   0
1  현길   70  20  100  30  80  50   0
2  시명  100  40   90  70  70  50   0
3  주영   90  80   60  50  80  50   0

### (6) DataFrame에 행(row) 추가  
- 방법 : DF객체변수명.loc[새로운 행 인덱스] = [컬럼 수 만큼의 데이터]
- 방법2 : DF객체변수명.loc[새로운 행 인덱스] = 데이터

- 불가(iloc) : DF객체변수명.iloc[새로운 행 인덱스] = 데이터
  => 인덱스 할당(iloc)은 데이터가 존재해야함

In [8]:
examDF.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
# 방법1 : 컬럼 수 만큼의 데이터를 가진 행 추가
examDF.loc[4] = ['동현',90, 80,99,87,67,80,100]
examDF

   이름   국어  미술   수학  체육  영어  과학   77
0  갓기   60  80   90   0  90  50    0
1  현길   70  20  100  30  80  50    0
2  시명  100  40   90  70  70  50    0
3  주영   90  80   60  50  80  50    0
4  동현   90  80   99  87  67  80  100

In [10]:
# 방법 2 : 1개 데이터를 가진 행을 추가
examDF.loc[5] = 0   # 이름까지도 0으로 입력
examDF

   이름   국어  미술   수학  체육  영어  과학   77
0  갓기   60  80   90   0  90  50    0
1  현길   70  20  100  30  80  50    0
2  시명  100  40   90  70  70  50    0
3  주영   90  80   60  50  80  50    0
4  동현   90  80   99  87  67  80  100
5   0    0   0    0   0   0   0    0

In [11]:
# 불가 (iloc) : 행 추가엔 iloc 불가; 현재 인덱스에 없는 범위는 불가
examDF.index[5] = ['iloc안됨',9,9,9,9,9,9,9]   # TypeError

TypeError: Index does not support mutable operations