# [ DataFrame 살펴보기 ]
* 데이터를 테이블, 즉 표 형태로 저장하는 자료 구조
* 구성 : 행 + 열
* 생성 : pandas.DataFrame() 생성자 메서드

### (1) 모듈 로딩 --------------------------

In [7]:
from pandas import DataFrame

### (2) 데이터 준비 --------------------------

In [104]:
data = [ [11, 22, 33], [44, 55, 66], [77, 88, 99] ]

### (3) DataFrame으로 저장 (= 객체 생성) --------------------------

In [105]:
df1 = DataFrame(data)
df1
# list를 주면 행으로 들어간다? 
# => 데이터 타입은 같은 열 내에서 같음
# => 리스트 내 데이터 타입 순서가 다 같아야 함!

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

### (4) DataFrame의 속성 읽기 => 객체변수명.속성명 ------------------

In [10]:
df1.index    # 행

RangeIndex(start=0, stop=2, step=1)

In [14]:
df1.columns  # 열

RangeIndex(start=0, stop=3, step=1)

In [15]:
df1.values   # 값; 리스트로 반환 (자동 줄바꿈)

array([[11, 22, 33],
       [44, 55, 66]], dtype=int64)

In [17]:
df1.shape  # 2행 3열 => 행, 열

(2, 3)

In [19]:
df1.ndim   # n dimension : 차원 정보 반환

2

In [20]:
df1.dtypes # column 별 데이터 타입

0    int64
1    int64
2    int64
dtype: object

### (5) 원소 읽기; 행과 열 지정 ==> 1개의 원소

#### (5-1) 컬럼 (열) 읽기 : [index]

In [23]:
df1[0]   # 0번 열

0    11
1    44
Name: 0, dtype: int64

In [108]:
# 컬럼 변경하기
df1.columns = ['A', 'B','C']
df1

    A   B   C
0  11  22  33
1  44  55  66
2  77  88  99

In [43]:
df1['A']

A    11
B    44
Name: A, dtype: int64

In [44]:
df1.A   # 숫자랑은 쓸 수 없다 ( df1.0 -> X )

A    11
B    44
Name: A, dtype: int64

In [48]:
df1.columns=[0,1,2]
# df1.0  => 숫자는 불가

    0   1   2
A  11  22  33
B  44  55  66

In [110]:
# 컬
df1.index = ['one', 'two', 'three']
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

### (6) 행 읽기 ==> 방법 2가지
    * 위치 인덱스로 읽기 : 객체변수명.iloc[index]
    * 레이블 인덱스로 읽기 : 객체변수명.loc[인덱스(명)]

In [60]:
df1.loc['one']   # 열을 이름으로 읽기
# 참고 : type(df1.loc['one']) = Series

0    11
1    22
2    33
Name: one, dtype: int64

In [59]:
df1.iloc[0]    # 열을 인덱스로 읽기

0    11
1    22
2    33
Name: one, dtype: int64

### (6) 모든 원소를 한 번에 한 개씩만 출력

In [61]:
df1

      0   1   2
one  11  22  33
two  44  55  66

In [72]:
# 방법 1 : 0열부터 잘못 뽑았는데 정상 작동은 하기에
for col in df1.columns:   # columns 만으로 for 돌아감
    for idx in df1.index:
        print(df1[col].loc[idx])  # 인덱스명이 따로 지정되어 있으므로 .loc

11
44
22
55
33
66

In [77]:
# 방법 2 : .iloc[idx, col]
for col in df1.columns:
    for idx in df1.index:
        print(df1.loc[idx, col])    # [idx, col] 로 좌표를 나타낼 수 있다

# 제대로 이해하려면 for idx / for idx 해야함
# 행 -> 열로 접근!!
# DataFrame 으로 만들고 -> 한 행씩 가로로 읽어간다고 느끼기

11
44
22
55
33
66

In [78]:
df1.iloc[0,1]   # i loc 는 무조건 숫자

22

In [80]:
df1.iloc[0][1]  # 이렇게 인덱스를 따로 표현해도 됨

22

#### - 객체ㅇㅇㅇ.iloc = [행인덱스, 열인덱스], ㅇㅇㅇ.loc(행레이블, 열이름)

In [87]:
zero = df1.iloc[0]    # 이건 행 기준으로 뽑는 거
zero

A    11
B    22
C    33
Name: one, dtype: int64

In [88]:
b = df1['B']      # 이건 열 기준으로 뽑는 거
b

one    22
two    55
Name: B, dtype: int64

In [93]:
# 개꿀팁!!!! 이렇게 행 열 수를 추출할 수 있다(for)
df1.shape[0], df1.shape[1]    # shape -> (행, 열)

(2, 3)

In [98]:
# iloc를 활용한 모든 원소 출력 => 행과 열의 번호
for row in range(df1.shape[0]):
    print(row)
    for col in range(df1.shape[1]):
        print(row, col, df1.iloc[row, col])

0
0 0 11
0 1 22
0 2 33
1
1 0 44
1 1 55
1 2 66

* loc를 활용한 모든 원소 출력 ==> 행 레이블/이름과 열 레이블/이름

In [99]:
df1.index, df1.columns

(Index(['one', 'two'], dtype='object'), Index(['A', 'B', 'C'], dtype='object'))

In [111]:
for row in df1.index:
    print(row)
    for col in df1.columns:
        print(row, col, df1.loc[row, col])

one
one A 11
one B 22
one C 33
two
two A 44
two B 55
two C 66
three
three A 77
three B 88
three C 99

### [문제] one, three 행을 선택 후 저장

In [118]:
# 내 풀이 
saved = df1.loc['one'], df1.loc['three']
saved
# 윤서 풀이 - 천잰가??
saved = df1.loc[['one', 'three']]
saved, type(saved)

(        A   B   C
 one    11  22  33
 three  77  88  99,
 pandas.core.frame.DataFrame)

In [117]:
df1.loc[['one']]

      A   B   C
one  11  22  33