# [다양한 Series 객체 생성]

In [4]:
import pandas as pd

### (2) Series 객체 생성 - 방법 1

In [5]:
# Series( data, index=지정 )

In [6]:
# index=[ ] 으로 인덱스 지정하기
sr1=pd.Series([11,22,33], index=['one', 'two', 'three'])
sr1

one      11
two      22
three    33
dtype: int64

### (2) Series 객체 생성 - 방법 2

In [7]:
# name=' ' 으로 이름을 저장하기
sr1=pd.Series([11,22,33], index=['one', 'two', 'three'], name='Score')
sr1

one      11
two      22
three    33
Name: Score, dtype: int64

### (3) Series 객체 생성 - 방법 3

In [8]:
# dtype = 
sr1=pd.Series([11,22,33], index=['one', 'two', 'three'], name='Score', dtype='uint8')
sr1

one      11
two      22
three    33
Name: Score, dtype: uint8

In [9]:
data = {'name':'홍길동', 'age':12, 'job':'도적'}
sr1= pd.Series(data)
sr1
# 딕셔너리: 키가 인덱스로 들어감

name    홍길동
age      12
job      도적
dtype: object

In [10]:
# 속성 확인하기 - 리스트
print(sr1.index, sr1.values, sep='\n')

Index(['name', 'age', 'job'], dtype='object')
['홍길동' 12 '도적']

In [11]:
sr1.index, sr1.values

(Index(['name', 'age', 'job'], dtype='object'),
 array(['홍길동', 12, '도적'], dtype=object))

In [12]:
# set( ) => 순서가 없으니 그대로 넣지 못함
data = {'홍길동', 12, '도적'}             # 그대로 못 넣음!

# sr1-pd.Series(data, index=[1,2,3])     # typeError
sr1=pd.Series(list(data), index=[1,2,3]) # list( ) 로 형변환 해야 한다.
sr1

1    홍길동
2     12
3     도적
dtype: object

In [13]:
sr1.describe()

count       3
unique      3
top       홍길동
freq        1
dtype: object