bald_probability.csv

In [13]:
import pandas as pd
bald_prob = pd.read_csv('Data/bald_probability.csv')
bald_prob.head()

,age,gender,job_role,province,salary,is_married,is_hereditary,weight,height,shampoo,is_smoker,education,stress,bald_prob
0,27.0,female,Government Employee,Bengkulu,7.957453e+06,1.0,0.0,54.315053,170.428542,Pantone,1.0,Bachelor Degree,5.0,0.605974
1,53.0,female,Government Employee,Bandung,7.633003e+06,1.0,0.0,72.873404,165.530097,Pantone,0.0,Bachelor Degree,7.0,0.532860
2,37.0,female,Employee,Bandung,6.637625e+06,1.0,0.0,46.321533,154.599388,Moonsilk,0.0,Bachelor Degree,4.0,0.418442
3,36.0,female,Jobless,Palu,3.624871e+06,1.0,0.0,51.539781,167.340481,Deadbuoy,1.0,Elementary School,9.0,0.804050
4,38.0,male,NaN,Palangkaraya,6.031808e+06,1.0,0.0,60.726909,165.514773,Merpati,1.0,Magister Degree,1.0,0.368371

In [14]:
bald_prob.info()    # object 엄청 많다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7917 entries, 0 to 7916
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            7832 non-null   float64
 1   gender         7840 non-null   object
 2   job_role       6600 non-null   object
 3   province       7831 non-null   object
 4   salary         7843 non-null   float64
 5   is_married     7845 non-null   float64
 6   is_hereditary  7828 non-null   float64
 7   weight         7861 non-null   float64
 8   height         7843 non-null   float64
 9   shampoo        7858 non-null   object
 10  is_smoker      7847 non-null   float64
 11  education      7847 non-null   object
 12  stress         7853 non-null   float64
 13  bald_prob      7838 non-null   float64
dtypes: float64(9), object(5)
memory usage: 866.0+ KB

In [15]:
bald_prob.corr(numeric_only=True).bald_prob.sort_values(ascending=False) 
# 일단 실수 데이터만 분석

bald_prob        1.000000
is_hereditary    0.437969
age              0.355886
stress           0.290255
is_smoker        0.262603
is_married       0.124810
salary           0.060185
height           0.006385
weight           0.000013
Name: bald_prob, dtype: float64

In [16]:
# Label Encoder
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
label.fit(bald_prob['gender'])
bald_prob.gender = label.transform(bald_prob['gender'])
bald_prob['gender']

0       0
1       0
2       0
3       0
4       1
       ..
7912    1
7913    1
7914    1
7915    2
7916    1
Name: gender, Length: 7917, dtype: int32

In [17]:
# 데이터 타입이 object인 컬럼 추출 -> encoder 화
object_cols = bald_prob.select_dtypes(include=['object']).columns
for col in object_cols:
    label.fit(bald_prob[col])
    bald_prob[col] = label.transform(bald_prob[col])
# bald_prob.info()    # Good

# 함수로 만들기
from sklearn.preprocessing import LabelEncoder
def object_encoder(DF):
    new_DF = DF.copy()
    label = LabelEncoder()
    object_cols = new_DF.select_dtypes(include=['object']).columns
    for col in object_cols:
        label.fit(new_DF[col])
        new_DF[col] = label.transform(new_DF[col])
    return new_DF

# Test function
bald_prob_test = pd.read_csv('Data/bald_probability.csv')
new_bald_DF = object_encoder(bald_prob_test)
new_bald_DF.info()  # good

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7917 entries, 0 to 7916
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            7832 non-null   float64
 1   gender         7917 non-null   int32
 2   job_role       7917 non-null   int32
 3   province       7917 non-null   int32
 4   salary         7843 non-null   float64
 5   is_married     7845 non-null   float64
 6   is_hereditary  7828 non-null   float64
 7   weight         7861 non-null   float64
 8   height         7843 non-null   float64
 9   shampoo        7917 non-null   int32
 10  is_smoker      7847 non-null   float64
 11  education      7917 non-null   int32
 12  stress         7853 non-null   float64
 13  bald_prob      7838 non-null   float64
dtypes: float64(9), int32(5)
memory usage: 711.4 KB

In [18]:
# 원본과 데이터 대조
bald_prob_test.head()

,age,gender,job_role,province,salary,is_married,is_hereditary,weight,height,shampoo,is_smoker,education,stress,bald_prob
0,27.0,female,Government Employee,Bengkulu,7.957453e+06,1.0,0.0,54.315053,170.428542,Pantone,1.0,Bachelor Degree,5.0,0.605974
1,53.0,female,Government Employee,Bandung,7.633003e+06,1.0,0.0,72.873404,165.530097,Pantone,0.0,Bachelor Degree,7.0,0.532860
2,37.0,female,Employee,Bandung,6.637625e+06,1.0,0.0,46.321533,154.599388,Moonsilk,0.0,Bachelor Degree,4.0,0.418442
3,36.0,female,Jobless,Palu,3.624871e+06,1.0,0.0,51.539781,167.340481,Deadbuoy,1.0,Elementary School,9.0,0.804050
4,38.0,male,NaN,Palangkaraya,6.031808e+06,1.0,0.0,60.726909,165.514773,Merpati,1.0,Magister Degree,1.0,0.368371

In [19]:
new_bald_DF.head()  # 분류가 잘 되어 보인다

,age,gender,job_role,province,salary,is_married,is_hereditary,weight,height,shampoo,is_smoker,education,stress,bald_prob
0,27.0,0,1,5,7.957453e+06,1.0,0.0,54.315053,170.428542,3,1.0,0,5.0,0.605974
1,53.0,0,1,3,7.633003e+06,1.0,0.0,72.873404,165.530097,3,0.0,0,7.0,0.532860
2,37.0,0,0,3,6.637625e+06,1.0,0.0,46.321533,154.599388,2,0.0,0,4.0,0.418442
3,36.0,0,2,22,3.624871e+06,1.0,0.0,51.539781,167.340481,0,1.0,2,9.0,0.804050
4,38.0,1,3,20,6.031808e+06,1.0,0.0,60.726909,165.514773,1,1.0,4,1.0,0.368371

In [20]:
# 상관 계수
new_bald_DF.corr(numeric_only=True).bald_prob.abs().sort_values(ascending=False).head(7)
# 그래도 상관계수는 비슷하다

bald_prob        1.000000
is_hereditary    0.437969
age              0.355886
stress           0.290255
is_smoker        0.262603
gender           0.251905
is_married       0.124810
Name: bald_prob, dtype: float64

결론 : target인 bald_prob이 실수이므로 회귀 모형을 생성, 임의의 값으로 탈모 예상치를 추출할 수 있다

<hr>

Hair loss

In [31]:
LukeDF = pd.read_csv('Data/Luke_hair_loss_documentation.csv')
LukeDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    400 non-null    object
 1   hair_loss               400 non-null    object
 2   stay_up_late            400 non-null    int64
 3   pressure_level          400 non-null    object
 4   coffee_consumed         400 non-null    int64
 5   brain_working_duration  400 non-null    int64
 6   school_assesssment      95 non-null     object
 7   stress_level            400 non-null    object
 8   shampoo_brand           400 non-null    object
 9   swimming                400 non-null    object
 10  hair_washing            400 non-null    object
 11  hair_grease             396 non-null    float64
 12  dandruff                111 non-null    object
 13  libido                  400 non-null    int64
dtypes: float64(1), int64(4), object(9)
memory usage: 43.9+ KB

In [32]:
# ML_Class.py 에서 scaler_module 호출
import sys
sys.path.append('../')
from ML_class import scaler_model as sm

In [34]:
# 휴 클래스 겨우 호출했다 왤케 어렵냐: 대충 plt처럼 생각하자
new_hair = sm().object_encoder(LukeDF)
new_hair.head()

,date,hair_loss,stay_up_late,pressure_level,coffee_consumed,brain_working_duration,school_assesssment,stress_level,shampoo_brand,swimming,hair_washing,hair_grease,dandruff,libido
0,0,1,2,1,0,1,4,1,1,0,1,3.0,2,1
1,144,1,0,1,0,3,4,1,1,0,0,1.0,2,1
2,287,3,3,1,1,0,4,1,1,1,1,2.0,2,2
3,321,1,2,1,0,1,4,1,1,0,0,3.0,2,3
4,335,1,2,1,0,1,4,1,1,0,1,1.0,2,2

In [35]:
new_hair.corr()

,date,hair_loss,stay_up_late,pressure_level,coffee_consumed,brain_working_duration,school_assesssment,stress_level,shampoo_brand,swimming,hair_washing,hair_grease,dandruff,libido
date,1.000000,-0.031784,0.097513,-0.003337,0.021893,0.004196,0.016459,-0.023222,-0.020674,-0.050151,-0.032184,0.002195,0.000068,-0.060878
hair_loss,-0.031784,1.000000,0.031661,-0.180548,0.009242,-0.042010,-0.146331,-0.067062,0.029422,0.067649,0.038965,0.003655,-0.109395,0.286275
stay_up_late,0.097513,0.031661,1.000000,0.433650,0.718017,0.603039,-0.404036,0.293995,-0.078626,-0.127301,0.003700,0.440999,-0.262047,-0.061987
pressure_level,-0.003337,-0.180548,0.433650,1.000000,0.430044,0.426949,-0.247153,0.400065,-0.026925,-0.038968,0.031633,0.275561,-0.087398,-0.015478
coffee_consumed,0.021893,0.009242,0.718017,0.430044,1.000000,0.847582,-0.678265,0.423083,-0.213686,-0.147065,0.025229,0.681427,-0.524139,0.036706
brain_working_duration,0.004196,-0.042010,0.603039,0.426949,0.847582,1.000000,-0.748881,0.418102,-0.246445,-0.228026,0.032967,0.719852,-0.605468,-0.083707
school_assesssment,0.016459,-0.146331,-0.404036,-0.247153,-0.678265,-0.748881,1.000000,-0.363298,0.243497,0.194788,-0.019303,-0.655396,0.767438,0.144269
stress_level,-0.023222,-0.067062,0.293995,0.400065,0.423083,0.418102,-0.363298,1.000000,-0.151800,-0.102333,0.016079,0.212568,-0.067283,0.146323
shampoo_brand,-0.020674,0.029422,-0.078626,-0.026925,-0.213686,-0.246445,0.243497,-0.151800,1.000000,0.260278,-0.017660,-0.283721,0.280171,0.041275
swimming,-0.050151,0.067649,-0.127301,-0.038968,-0.147065,-0.228026,0.194788,-0.102333,0.260278,1.000000,0.575743,-0.278593,0.234900,0.087026
hair_washing,-0.032184,0.038965,0.003700,0.031633,0.025229,0.032967,-0.019303,0.016079,-0.017660,0.575743,1.000000,0.049673,-0.023398,-0.020385
hair_grease,0.002195,0.003655,0.440999,0.275561,0.681427,0.719852,-0.655396,0.212568,-0.283721,-0.278593,0.049673,1.000000,-0.755065,0.059453
dandruff,0.000068,-0.109395,-0.262047,-0.087398,-0.524139,-0.605468,0.767438,-0.067283,0.280171,0.234900,-0.023398,-0.755065,1.000000,-0.015134
libido,-0.060878,0.286275,-0.061987,-0.015478,0.036706,-0.083707,0.144269,0.146323,0.041275,0.087026,-0.020385,0.059453,-0.015134,1.000000

In [36]:
# Make DataFrame .corr() descending list

def corr_dataframe(dataDF, top5=False):
    data_corr = dataDF.corr().abs()
    df = pd.DataFrame()
    for i in range(len(data_corr.columns)):
        corr_i = data_corr.iloc[:, i].sort_values(ascending=False).reset_index(drop=True)
        df = pd.concat([df, corr_i], axis=1)
    
    if top5:
        mask = df.iloc[1, :].sort_values(ascending=False).head().index # 높은 상관계수를 보이는 col
        return dataDF.corr()[mask]
    else:    
        return df

corr_list = corr_dataframe(new_hair, top5=True)
corr_list

,coffee_consumed,brain_working_duration,school_assesssment,dandruff,hair_grease
date,0.021893,0.004196,0.016459,0.000068,0.002195
hair_loss,0.009242,-0.042010,-0.146331,-0.109395,0.003655
stay_up_late,0.718017,0.603039,-0.404036,-0.262047,0.440999
pressure_level,0.430044,0.426949,-0.247153,-0.087398,0.275561
coffee_consumed,1.000000,0.847582,-0.678265,-0.524139,0.681427
brain_working_duration,0.847582,1.000000,-0.748881,-0.605468,0.719852
school_assesssment,-0.678265,-0.748881,1.000000,0.767438,-0.655396
stress_level,0.423083,0.418102,-0.363298,-0.067283,0.212568
shampoo_brand,-0.213686,-0.246445,0.243497,0.280171,-0.283721
swimming,-0.147065,-0.228026,0.194788,0.234900,-0.278593
hair_washing,0.025229,0.032967,-0.019303,-0.023398,0.049673
hair_grease,0.681427,0.719852,-0.655396,-0.755065,1.000000
dandruff,-0.524139,-0.605468,0.767438,1.000000,-0.755065
libido,0.036706,-0.083707,0.144269,-0.015134,0.059453

In [39]:
corr_dataframe(new_hair).head()

,date,hair_loss,stay_up_late,pressure_level,coffee_consumed,brain_working_duration,school_assesssment,stress_level,shampoo_brand,swimming,hair_washing,hair_grease,dandruff,libido
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,0.097513,0.286275,0.718017,0.433650,0.847582,0.847582,0.767438,0.423083,0.283721,0.575743,0.575743,0.755065,0.767438,0.286275
2,0.060878,0.180548,0.603039,0.430044,0.718017,0.748881,0.748881,0.418102,0.280171,0.278593,0.049673,0.719852,0.755065,0.146323
3,0.050151,0.146331,0.440999,0.426949,0.681427,0.719852,0.678265,0.400065,0.260278,0.260278,0.038965,0.681427,0.605468,0.144269
4,0.032184,0.109395,0.433650,0.400065,0.678265,0.605468,0.655396,0.363298,0.246445,0.234900,0.032967,0.655396,0.524139,0.087026

In [ ]:
# Take Top5 columns
mask = corr_list.iloc[1, :].sort_values(ascending=False).head().index # 높은 상관계수를 보이는 col
new_hair.corr()[mask]

,coffee_consumed,brain_working_duration,school_assesssment,dandruff,hair_grease
date,0.021893,0.004196,0.016459,0.000068,0.002195
hair_loss,0.009242,-0.042010,-0.146331,-0.109395,0.003655
stay_up_late,0.718017,0.603039,-0.404036,-0.262047,0.440999
pressure_level,0.430044,0.426949,-0.247153,-0.087398,0.275561
coffee_consumed,1.000000,0.847582,-0.678265,-0.524139,0.681427
brain_working_duration,0.847582,1.000000,-0.748881,-0.605468,0.719852
school_assesssment,-0.678265,-0.748881,1.000000,0.767438,-0.655396
stress_level,0.423083,0.418102,-0.363298,-0.067283,0.212568
shampoo_brand,-0.213686,-0.246445,0.243497,0.280171,-0.283721
swimming,-0.147065,-0.228026,0.194788,0.234900,-0.278593
hair_washing,0.025229,0.032967,-0.019303,-0.023398,0.049673
hair_grease,0.681427,0.719852,-0.655396,-0.755065,1.000000
dandruff,-0.524139,-0.605468,0.767438,1.000000,-0.755065
libido,0.036706,-0.083707,0.144269,-0.015134,0.059453

In [38]:
new_hair.corr(numeric_only=True).hair_loss.abs().sort_values(ascending=False).head(7)
# hair loss는 상관계수가 너무 작긴 하다

hair_loss             1.000000
libido                0.286275
pressure_level        0.180548
school_assesssment    0.146331
dandruff              0.109395
swimming              0.067649
stress_level          0.067062
Name: hair_loss, dtype: float64

<hr>

hair_loss.csv

In [ ]:
hairDF = pd.read_csv('Data/hair_loss.csv')
hairDF.info()   # 얘는 자료가 명확

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   total_protein       100000 non-null  int64
 1   total_keratine      100000 non-null  int64
 2   hair_texture        100000 non-null  int64
 3   vitamin             100000 non-null  int64
 4   manganese           100000 non-null  int64
 5   iron                100000 non-null  int64
 6   calcium             100000 non-null  int64
 7   body_water_content  100000 non-null  int64
 8   stress_level        100000 non-null  int64
 9   liver_data          100000 non-null  int64
 10  hair_fall           100000 non-null  int64
dtypes: int64(11)
memory usage: 8.4 MB

In [ ]:
hairDF.corr()
corr_dataframe(hairDF)  # 상당히 낮은데...???

,total_protein,total_keratine,hair_texture,vitamin,manganese,iron,calcium,body_water_content,stress_level,liver_data,hair_fall
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,0.004181,0.009062,0.006231,0.009062,0.005764,0.007433,0.004535,0.005824,0.006286,0.003030,0.005824
2,0.004049,0.007433,0.004992,0.003983,0.004049,0.006231,0.003344,0.003608,0.005764,0.002613,0.003969
3,0.003125,0.006286,0.004535,0.003608,0.003974,0.004517,0.002805,0.003345,0.004517,0.001782,0.003384
4,0.002986,0.004992,0.003983,0.002986,0.003274,0.002613,0.002237,0.001715,0.004181,0.001403,0.003030
5,0.001733,0.003384,0.003974,0.002807,0.002805,0.002434,0.001974,0.001352,0.003969,0.001370,0.002807
6,0.001715,0.003344,0.002273,0.002619,0.001927,0.002237,0.001189,0.001276,0.003345,0.001279,0.001927
7,0.001476,0.003274,0.001476,0.002434,0.001370,0.001733,0.001075,0.001189,0.002619,0.001276,0.001475
8,0.001335,0.003125,0.001279,0.001782,0.001352,0.001475,0.001003,0.001166,0.002273,0.001003,0.001335
9,0.001075,0.001403,0.000468,0.000687,0.000187,0.001166,0.000687,0.000361,0.001974,0.000333,0.000468
10,0.000333,0.000361,0.000281,0.000153,0.000153,0.000187,0.000300,0.000281,0.000195,0.000195,0.000300