#### 표본추출/샘플링
- 전체 데이터에서 일부 데이터를 추출

- 복원추출 : 추출된 데이터를 다시 추가
- 비복원추출 : 추출된 데이터는 추가되지 않음

In [1]:
import pandas as pd

In [2]:
# 임의의 데이터 생성
data_df = pd.DataFrame({'kor': [10,20,30],
                        'eng': [30,40,50],
                        'math': [50,60,70]})
data_df

   kor  eng  math
0   10   30    50
1   20   40    60
2   30   50    70

In [5]:
# 1개의 샘플/표본 데이터 추출 (기본=비복원)
# [ .sample ]
for cnt in range(1,6):
    print(f'\n{cnt}회')
    # print(data_df.sample(n=2))  # row 단위로 랜덤 추출
    print(data_df.sample(n=2, axis='columns'))  # col 단위로 랜덤 추출

1회
   eng  kor
0   30   10
1   40   20
2   50   30

2회
   kor  math
0   10    50
1   20    60
2   30    70

3회
   eng  math
0   30    50
1   40    60
2   50    70

4회
   math  eng
0    50   30
1    60   40
2    70   50

5회
   eng  kor
0   30   10
1   40   20
2   50   30

In [7]:
# 1개의 샘플/표본 데이터 추출 (복원)
# [ .sample ( replace=True ) ]
for cnt in range(1,6):
    print(f'\n{cnt}회')
    # print(data_df.sample(n=2))  # row 단위로 랜덤 추출
    print(data_df.sample(n=4, axis='columns', replace=True))  # col 단위로 랜덤 추출

1회
   eng  math  math  kor
0   30    50    50   10
1   40    60    60   20
2   50    70    70   30

2회
   eng  eng  kor  math
0   30   30   10    50
1   40   40   20    60
2   50   50   30    70

3회
   math  math  eng  kor
0    50    50   30   10
1    60    60   40   20
2    70    70   50   30

4회
   math  eng  math  kor
0    50   30    50   10
1    60   40    60   20
2    70   50    70   30

5회
   kor  math  math  kor
0   10    50    50   10
1   20    60    60   20
2   30    70    70   30

In [ ]:
# 복원은 전체 데이터 수 초과 가능
# : 이번 학습엔 복원으로 -> 다시 02_find_fish 로