XGboost, LightGBM

In [23]:
# 0. 설치 여부 확인
import xgboost
import lightgbm


print('XGBoost : ', xgboost.__version__)
print('LightGBM : ', lightgbm.__version__)

XGBoost :  2.0.3
LightGBM :  4.3.0

In [24]:
# 1. Load Data
feature_name_file = '../../DATA/human_activity/features.txt'
label_file = '../../DATA/human_activity/activity_labels.txt'

x_train_file = '../../DATA/human_activity/train/X_train.txt'
y_train_file = '../../DATA/human_activity/train/y_train.txt'

x_test_file = '../../DATA/human_activity/test/X_test.txt'
y_test_file = '../../DATA/human_activity/test/y_test.txt'

In [25]:
# 2. Data Preprocessing 
import pandas as pd
import numpy as np
# 1)
feature_nameDF = pd.read_csv(feature_name_file, sep='\s+',                     # 1개 이상의 공백
                             header=None, names=['col_id', 'col_name'])
feature_nameDF.info()

# 2) Check duplication
print(feature_nameDF.col_id.duplicated().sum())     # 0
print(feature_nameDF.col_name.duplicated().sum())   # 84

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   col_id    561 non-null    int64
 1   col_name  561 non-null    object
dtypes: int64(1), object(1)
memory usage: 8.9+ KB
0
84

In [26]:
# 2-2. Delete duplications
mask = feature_nameDF.col_name.duplicated()
feature_nameDF[mask].head()

# 1) Set duplicated index
dup_idxs = feature_nameDF[mask].index
feature_nameDF = feature_nameDF.drop(dup_idxs)
feature_nameDF.reset_index(drop=True, inplace=True)
feature_nameDF

     col_id                              col_name
0         1                     tBodyAcc-mean()-X
1         2                     tBodyAcc-mean()-Y
2         3                     tBodyAcc-mean()-Z
3         4                      tBodyAcc-std()-X
4         5                      tBodyAcc-std()-Y
..      ...                                   ...
472     557      angle(tBodyGyroMean,gravityMean)
473     558  angle(tBodyGyroJerkMean,gravityMean)
474     559                  angle(X,gravityMean)
475     560                  angle(Y,gravityMean)
476     561                  angle(Z,gravityMean)

[477 rows x 2 columns]

In [36]:
# 2) Drop duplication : x_train
x_trainDF = pd.read_csv(x_train_file, sep='\s+', header=None)
x_trainDF= x_trainDF.T.drop(x_trainDF.T[dup_idxs])
x_trainDF.reset_index(drop=True, inplace=True)
x_trainDF.info()    # 26.8 MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Columns: 7352 entries, 0 to 7351
dtypes: float64(7352)
memory usage: 26.8 MB

In [34]:
# 3) Drop duplication : not for y
y_trainDF = pd.read_csv(y_train_file, sep='\s+', header=None)
y_trainDF.T

,0,1,2,3,4,5,6,7,8,9,...,7342,7343,7344,7345,7346,7347,7348,7349,7350,7351
0,5,5,5,5,5,5,5,5,5,5,...,2,2,2,2,2,2,2,2,2,2

In [38]:
# 4) x_test
x_testDF = pd.read_csv(x_test_file, sep='\s+', header=None)
x_testDF= x_testDF.T.drop(x_testDF.T[dup_idxs])
x_testDF.reset_index(drop=True, inplace=True)
x_testDF.info()     # 10.7 MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Columns: 2947 entries, 0 to 2946
dtypes: float64(2947)
memory usage: 10.7 MB