#### [ 과제1 ]
- 북한 : 신재생 행 추가
- 마지막 열(2017 이후)에 총계 추가

In [2]:
# 1. module loading
import pandas as pd
import numpy as np

# 2. Data setting
file = '../DATA/남북한발전전력량.xlsx'

# 3. read_excel
KEnergyDF = pd.read_excel(file)
KEnergyDF

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [3]:
# 1. 북한 열에 신재생 행 추가
KEnergyDF.loc[9] = '-'  # index:9 추가
KEnergyDF['전력량 (억㎾h)'][:5] = '남한'
KEnergyDF['전력량 (억㎾h)'][5:] = '북한'
KEnergyDF['발전 전력별'][9] = '신재생'
KEnergyDF

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,남한,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,남한,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,남한,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,남한,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,북한,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,북한,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,북한,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,북한,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [4]:
# 2.1 합계 도출 : 두 열을 인덱스화 / 행열 바꾸기
KEnergyDF['합계'] = 0
KEnergyDF_T = KEnergyDF.set_index(["전력량 (억㎾h)", "발전 전력별"]).T
KEnergyDF_T

전력량 (억㎾h)    남한                        북한
발전 전력별       합계  수력    화력   원자력  신재생   합계   수력   화력 원자력 신재생
1990       1077  64   484   529    -  277  156  121   -   -
1991       1186  51   573   563    -  263  150  113   -   -
1992       1310  49   696   565    -  247  142  105   -   -
1993       1444  60   803   581    -  221  133   88   -   -
1994       1650  41  1022   587    -  231  138   93   -   -
1995       1847  55  1122   670    -  230  142   88   -   -
1996       2055  52  1264   739    -  213  125   88   -   -
1997       2244  54  1420   771    -  193  107   86   -   -
1998       2153  61  1195   897    -  170  102   68   -   -
1999       2393  61  1302  1031    -  186  103   83   -   -
2000       2664  56  1518  1090    -  194  102   92   -   -
2001       2852  42  1689  1121    -  202  106   96   -   -
2002       3065  53  1821  1191    -  190  106   84   -   -
2003       3225  69  1859  1297    -  196  117   79   -   -
2004       3421  59  2056  1307    -  206  125   81   -   -
2005       3646  52  2127  1468    -  215  131   84   -   -
2006       3812  52  2272  1487    -  225  126   99   -   -
2007       4031  50  2551  1429    -  236  133  103   -   -
2008       4224  56  2658  1510    -  255  141  114   -   -
2009       4336  56  2802  1478    -  235  125  110   -   -
2010       4747  65  3196  1486    -  237  134  103   -   -
2011       4969  78  3343  1547    -  211  132   79   -   -
2012       5096  77  3430  1503   86  215  135   80   -   -
2013       5171  84  3581  1388  118  221  139   82   -   -
2014       5220  78  3427  1564  151  216  130   86   -   -
2015       5281  58  3402  1648  173  190  100   90   -   -
2016       5404  66  3523  1620  195  239  128  111   -   -
합계            0   0     0     0    0    0    0    0   0   0

In [18]:
# Test 성공 : sum(axis=1) 이면 행의 합계를 출력한다!
test1 = pd.read_excel(file, index_col=[0,1])
test1['합계'] = test1.replace('-',0).astype('int64').sum(axis=1)
test1

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        -     -     -     -     -     -     -     -     -     -
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        -     -     -     -     -     -     -     -     -     -

                  ...  2008  2009  2010  2011  2012  2013  2014  2015  2016  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4224  4336  4747  4969  5096  5171  5220  5281  5404
          수력      ...    56    56    65    78    77    84    78    58    66
          화력      ...  2658  2802  3196  3343  3430  3581  3427  3402  3523
          원자력     ...  1510  1478  1486  1547  1503  1388  1564  1648  1620
          신재생     ...     -     -     -     -    86   118   151   173   195
북한        합계      ...   255   235   237   211   215   221   216   190   239
          수력      ...   141   125   134   132   135   139   130   100   128
          화력      ...   114   110   103    79    80    82    86    90   111
          원자력     ...     -     -     -     -     -     -     -     -     -

                     합계
전력량 (억㎾h) 발전 전력별
남한        합계      88523
          수력       1599
          화력      55136
          원자력     31067
          신재생       723
북한        합계       5914
          수력       3408
          화력       2506
          원자력         0

[9 rows x 28 columns]

In [5]:
# 2.2 바뀐 행열에서 '-' 변경 / 타입 수정 / 합계
KEnergyDF_T.loc['합계'] = KEnergyDF_T.replace('-','0').astype('int64').sum()
KEnergyDF_Final = KEnergyDF_T.T

In [6]:
KEnergyDF_Final

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        -     -     -     -     -     -     -     -     -     -
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        -     -     -     -     -     -     -     -     -     -
          신재생        -     -     -     -     -     -     -     -     -     -

                  ...  2008  2009  2010  2011  2012  2013  2014  2015  2016  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4224  4336  4747  4969  5096  5171  5220  5281  5404
          수력      ...    56    56    65    78    77    84    78    58    66
          화력      ...  2658  2802  3196  3343  3430  3581  3427  3402  3523
          원자력     ...  1510  1478  1486  1547  1503  1388  1564  1648  1620
          신재생     ...     -     -     -     -    86   118   151   173   195
북한        합계      ...   255   235   237   211   215   221   216   190   239
          수력      ...   141   125   134   132   135   139   130   100   128
          화력      ...   114   110   103    79    80    82    86    90   111
          원자력     ...     -     -     -     -     -     -     -     -     -
          신재생     ...     -     -     -     -     -     -     -     -     -

                     합계
전력량 (억㎾h) 발전 전력별
남한        합계      88523
          수력       1599
          화력      55136
          원자력     31067
          신재생       723
북한        합계       5914
          수력       3408
          화력       2506
          원자력         0
          신재생         0

[10 rows x 28 columns]

<hr> 동현님 발표 <hr>

In [8]:
# 주요 특징
# 행 추가
KEnergyDF.loc[len(KEnergyDF)] = '-'
KEnergyDF.loc[len(KEnergyDF)-1, KEnergyDF.columns[0]] = np.nan
KEnergyDF.loc[len(KEnergyDF)-1, KEnergyDF.columns[1]] = '신재생'

# 결측치 검사
# DF.isna().sum()

# '-' 를 0 으로 대체
# DF.replace('-', 0, inplace=True)
# DF.astype('int64')
# DF.sum(axis=1) # axis=1 이면 같은 행의 합 가능?